*{
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}

body {
    padding-top: 65px; /* adjust this if navbar height changes */
}

.navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    position: fixed; 
    top: 0;          
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.09);
}
.navbar button{
    margin-top: 15px;
    margin-bottom:15px;
    margin-right:30px;
}

.navbar a{
    margin-top: 15px;
    margin-bottom:15px;
    text-decoration: none;
    color: black;
    margin-left:30px;
    font-weight: 550;
}

.navbar a span{
    margin-left:6px;
    text-decoration: none;
    color: #002970;
}


.button{
    display:flex;
    flex-direction: row;
    align-items: center;
    border:none;
    background-color: #002970;
    color:white;
    border-radius: 50px;
    width: 100px;
    padding:2.5px;
}
.button span{
    font-weight: 550;
    padding: 7px 10px;
    margin-left:0px
}

.banner{
    display:flex;
    justify-content: center;
    padding:20px;
}

/* .child{
    display: flex;
    flex-direction:row ;
    justify-content: space-evenly;
    margin-top: 30px;

}

.parent{
    display: flex;
    flex-direction: row;
} */

.sec1{
    display: flex;
    margin-top: 1%;
   
}
.div1{
    display: flex;
    justify-content: center;
   
    padding: 20px;
}
.div1 img{
     width: 820px;
}
.parent{
    margin-left: 9.3%;
    height: 240px;
    width: 850px;
    padding: 20px;
    /* border: 1px solid red; */
    background-color: white;
    border-radius: 30px;
}
.parent h3{
    margin-bottom: 15px;
    width:500px;
    height: 40px;
    font-size:20px ;

}
.child{
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-direction: row;
}

.whole-sec{
    background-color: #F7F9FC;
}

.child img{
    height: 60px;
    width: 55px;
}
.child div{
    padding: 20px;
}
.check {
    margin-left:20px;
}

.check:hover{
    cursor: pointer;
    transform: scale(1.02);
}
.recharge:hover{
    cursor: pointer;
    box-shadow: 2px 0px 20px rgba(128, 128, 128, 0.4) ;
    border-radius: 9px;
}
.dth:hover{
    cursor: pointer;
    box-shadow: 2px 0px 20px rgba(128, 128, 128, 0.4) ;
    border-radius: 9px;
}
.fastag:hover{
    cursor: pointer;
    box-shadow: 2px 0px 20px rgba(128, 128, 128, 0.4) ;
    border-radius: 9px;
}
.electricity{
    width:180px;
}
.electricity:hover{
    cursor: pointer;
    box-shadow: 2px 0px 20px rgba(128, 128, 128, 0.4) ;
    border-radius: 9px;
}
.loan:hover{
    cursor: pointer;
    box-shadow: 2px 0px 20px rgba(128, 128, 128, 0.4) ;
    border-radius: 9px;
}
.view-all:hover{
    cursor: pointer;
    box-shadow: 2px 0px 20px rgba(128, 128, 128, 0.4) ;
    border-radius: 9px;
}

.cashback{
    padding-left:20px;
    padding-top : 30px;
    display:flex;
    justify-content: center;
}

#cashback{
    padding-right:20px;
}

#cashback:hover{
    cursor: pointer;
    transform: scale(1.02);
}
#broadband:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.img3{
    margin-left:2.8%;
    background-color:#F7F9FC ;
    padding-top:30px;
    padding-bottom:15px;
    display:flex;
    justify-content: center;
}
.img3 div{
    margin-right: 1.5%;
}
.img3 div img{
    /* margin-right: 2%; */
    /* padding-left:20px; */
    width: 390px;
    border-radius: 10px;
}
.trip{
    background-color: #E8F8FD;
    padding:20px 0px;
}

.travel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:10px;
    margin-left:140px;
    margin-right:140px
}

.vehicle{
    display: flex;
    flex-direction: row; 
}

.vehicle div{
    padding: 0px 20px;
}

.vehicle span{
    display:flex;
    flex-direction: column;
}

.paytmtravel img{
    margin-top:20px;
}

.booking{
    background-color: white ;
    padding:20px 20px;
    border:1.5px solid rgba(230, 172, 174, 0.6);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    width:78%;
    margin-left: 160px;
    margin-top:20px;
}

.radio input{
    transform: scale(1.2);
}

.radio{
    display:flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.radio div{
    padding-right: 40px;
}

.place{
    display: flex;
    flex-direction: row;
    padding:5px;
    margin-right:20px;
    justify-content: space-between;
    border-bottom:1.5px solid rgba(230, 172, 174, 0.8);
}

.to{
    display: flex;
}

.to div{
    padding:3px;
}

.to img{
    margin-top:15px;
    height:23px;
    width: 23px;
}

.depart{
    padding: 5px 10px;
    border-left:1.5px solid rgba(230, 172, 174, 0.8); 
}

.return{
    padding: 5px 10px;
    border-left:1.5px solid rgba(230, 172, 174, 0.8); 
}

.return p{
    color:#00BAF2;
}
.passenger{
    padding: 5px 10px;
    border-left:1.5px solid rgba(230, 172, 174, 0.8); 
}

.Searchflights button{
    font-family: Inter, sans-serif;
    border:none;
    font-weight:900;
    color: white;
    background-color: #00BAF2;
    width:140px;
    height:45px;
    margin-bottom:10px;
    border-radius: 8px;
}

.fares{
    display: flex;
    flex-direction: row;
    margin-top:15px;
}

.fares p{
    color: #7D7D7D;
    font-weight: lighter;
}
.fares img{
    width:15px;
    height:15px;
    padding-top:0px;
    padding-right:5px;
}

.fares span{
    padding-top:7px ;
    display: flex;
    /* justify-content: start; */
    align-items: center;
    color: #27AE60;
    font-weight: bold;
    font-size: small;
}

.fares2{
    display:flex;
    justify-content: space-evenly;
    margin-left : 30px;
     
    
}

.fares2 p{
    font-weight:bold ;
    font-size: small;
    color:black;
}

.fares2 span{
    color: #7D7D7D;
    font-size:x-small;
}

.fares2 div{
    border:1.5px solid rgba(230, 172, 174, 0.8); 
    border-radius: 5px; 
    padding:6px 13px; 
    margin:0px 10px; 
}

.download{
    padding-top:15px;
    background-color:#F7F9FC ;
}
.download1{
    display:flex;
    flex-direction: row;
    background-color: white;
    width: 80.4%;
    margin-left: 162px;
    /* margin-top:15px; */
    border-radius: 10px;
}

.matter{
    padding-left:100px;
    padding-right:50px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
}
.matter h1{
    padding-top:15px;
    font-weight: 600;
    font-size: 50px;
}

.matter h1 span{
    color:#00BAF2;
    font-weight: 600;
    font-size: 50px;
}

.matter p{
    padding-top:15px;
    padding-bottom:15px;
    font-size: 20px;
}

.support{
    background-color:#F7F9FC ;
    padding:20px 0px;
}

.support button{
    border-radius: 80px;;
    width:1250px;
    height:90px;
    background-color:#F7F9FC;
    border:none;
    padding:30px 20px;
    display:flex;
    margin-left: 150px;
    justify-content: center;
    text-decoration: none;
}
.support button a{
    text-decoration: none;
    border:none;
    border-radius: 80px;;
    background: linear-gradient(to bottom,#0086FE, #008BFC,#009AFA,#00A9F6,#00B4F4,#00BDF2) ;
    width:1200px;
    height:70px;
    padding:0px 20px;
    display:flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    color:white;
}

.support a div h3{
    padding-right: 130px;
    font-size: 20px;
}

.learnmore{
    width: 100px;
    height: 15px;
    padding:10px 10px;
    border-radius: 70px;
    border:1px solid white;
    display:flex;
    justify-content: center;
    align-items:center;
}

.learnmore i{
    padding-left:5px;
}

.credit-insurance{
    background-color:#F7F9FC ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0px;
}

/* .cards{
    width:30px;
    height:700px;
} */

.cards{
    border:none;
    border-radius: 10px;
    background-image: url("Assets/credit-background.avif");
    background-size: cover;
    display:flex;
    flex-direction: column;
    margin-left: 29px;
    margin-right:25px;
    padding: 30px 40px;
    width:510px;
    height:710px;
    justify-content: space-evenly;
}

.cards h1{
    font-size: 45px;
    padding-top:15px;
}

.cards h1 span{
    color:#00BAF2;
}

.cards img{
    margin-top:30px;
    display:flex;
    align-self: center;
}

.cards p{
    font-weight:600;
    padding-top:15px;
}

.banks img{
    padding-bottom: 25px;
}
.banks a{
    border:1px solid #1D4282;
    padding:5px 10px;
    font-size: 90%;
    border-radius: 80px;
    color:#1D4282;
    font-weight: bold;
    text-decoration: none;
}

.banks a:hover{
    background-color: #1D4282;
    color:white
}

.cards .banks{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-right:170px;
}

/* .cards .banks{
    padding-right:140px;
} */

.insurance{
    background: linear-gradient(to bottom, #D5F5FF, white) ;
    border:none;
    border-radius: 10px;;
    padding: 25px 40px;
    width:510px;
    height: 720px;
    display:flex;
    flex-direction: column;
}

.insurance h1 span{
    color:#00BAF2;
}

.insurance a{
    width: 95px;
    border:1px solid #1D4282;
    margin-top:25px;
    padding:5px 10px;
    font-size: 90%;
    border-radius: 80px;
    color:#1D4282;
    font-weight: bold;
    text-decoration: none;
}

.insurance img{
    margin-top:40.5px;
    display: flex;
    align-self: center;
}

.insurance h1{
    font-size: 45px;
    padding-top:15px;
}

.insurance p{
    font-weight:600;
    padding-top:15px;
}

.insurance a:hover{
    background-color: #1D4282;
    color:white
}

.paytmmoney{
    padding-top:25px;
    background-color:#F7F9FC ;
}

.money{
    background-color: white;
    background-image:url("Assets/investment.avif");
    background-size: cover;
    display:flex;
    flex-direction: row;
    /* background-color: white; */
    width: 79.8%;
    margin-left: 167px;
    /* margin-top:15px; */
    border-radius: 10px;
}

.matter1{
    padding-left:100px;
    padding-right:12px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
}
.matter1 h1{
    padding-top:15px;
    /* font-weight: bold; */
    font-size: 45px;
}

.matter1 h1 span{
    color:#00BAF2;
    /* font-weight: bold; */
    font-size: 45px;
}

.matter1 p{
    padding-top:15px;
    padding-bottom:30px;
    font-size: 20px;
}

.more a{
    width: 95px;
    background-color: #1D4282;
    border:1px solid #1D4282;
    margin-top:30px;
    padding:8px 13px;
    font-size: 90%;
    border-radius: 80px;
    color:white;
    font-weight: bold;
    text-decoration: none;
}

.more a:hover{
    background-color: white;
    color:#1D4282;
}

.money small{
    color:#707070;
    font-size: 13px;
    padding-top:30px;
}
.money small a{
    text-decoration: none;
    color:#00B8F5;
}

.business{
    padding-top:25px;
    background-color:#F7F9FC ;
}

.business1{
    background-color: white;
    display:flex;
    flex-direction: row;
    /* background-color: white; */
    width: 79.8%;
    margin-left: 167px;
    /* margin-top:15px; */
    border-radius: 10px;
}

.more a{
    width: 95px;
    background-color: #1D4282;
    border:1px solid #1D4282;
    margin-top:30px;
    padding:8px 13px;
    font-size: 90%;
    border-radius: 80px;
    color:white;
    font-weight: bold;
    text-decoration: none;
}

.more a:hover{
    background-color: white;
    color:#1D4282;
}

.business-paytm{
    margin-left:120px;
}